/* import */
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Just+Another+Hand&family=Klee+One&display=swap");
@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Reset CSS */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #222;
}
p {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
button,
input {
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
}
button {
  cursor: pointer;
  font-family: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  line-height: 1.5em;
}
dialog {
  padding: 0;
}

/* custom */
body {
  margin: 0;
  color: #fff;
  font-family: "SpoqaHanSansNeo-Regular";
  background-color: #0d0d0d;
}
body.hidden {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #333;
}
