@import url(common.css);

header {
  z-index: 10;
  position: sticky;
  top: 0;
  backdrop-filter: blur(15px);
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  height: 80px;
  margin: 0 auto;
}
.header__logo {
  color: #f2c94c;
  font: 2.25rem "Bad Script", cursive;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.header__nav-item {
  color: #c0c0c0;
  font: 2rem "Just Another Hand", cursive;
}
.nav__bookmark--active {
  color: #f2c94c;
  text-decoration: underline;
}
.header__search {
  position: relative;
  display: flex;
  align-items: stretch;
  font-size: 1.125rem;
  border-radius: 5px;
  height: 35px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
}
.header__search-input {
  padding: 10px;
  color: #a9a9a9;
  width: 300px;
  transition: width 0.3s ease;
}
.header__search-input::placeholder {
  color: #a9a9a9;
}
.header__search-button {
  width: 40px;
  color: #a9a9a9;
  border-radius: 5px;
}
.header__search-button::before {
  content: "\f002";
  font: 900 1.125rem "Font Awesome 6 Free";
}

section {
  margin: 30px auto 100px;
  max-width: 1280px;
  width: 100%;
}
.section__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  pointer-events: visible;
}
.section__list--pointer-none {
  pointer-events: none;
}
.section__list li {
  pointer-events: visible;
  cursor: pointer;
  height: 100%;
  border-radius: 5px;
  transition: 0.3s all;
  box-shadow: 0 0 10px 7px rgba(255, 255, 255, 0.1);
}
@keyframes swing {
  0% {
    transform: perspective(500px) rotateY(20deg);
    box-shadow: 0 0 10px 7px rgba(255, 255, 255, 1);
  }
  50% {
    transform: perspective(500px) rotateY(-20deg);
    box-shadow: 0 0 10px 7px rgba(255, 255, 255, 0.2);
  }
  100% {
    transform: perspective(500px) rotateY(20deg);
    box-shadow: 0 0 10px 7px rgba(255, 255, 255, 1);
  }
}
.wrap--pointer-none header {
  opacity: 1 !important;
}
.wrap--pointer-none .section__list li {
  opacity: 1 !important;
  box-shadow: 0 0 10px 7px rgba(255, 255, 255, 0.7);
}
.wrap--pointer-none .section__list li p {
  color: #fff;
}
.section__list-imgbox {
  position: relative;
  height: 340px;
  text-align: right;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.section__list-img {
  width: 100%;
}
.section__list-vote {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #f2c94c;
  padding: 0 5px;
  font-size: 0.875rem;
  border-radius: 5px 0 0 0;
  background: #000;
}
.section__list-title {
  margin: 10px 0 10px 10px;
  color: #a9a9a9;
}
.section__list-day {
  margin-left: 10px;
  padding-bottom: 10px;
  color: #a9a9a9;
  font-size: 0.875rem;
}

@media (hover: hover) and (pointer: fine) {
  .section__list li:hover {
    opacity: 1 !important;
    animation: swing 2s ease-in-out infinite;
  }
  .section__list li:hover p {
    color: #fff;
  }
  .wrap--pointer-none .section__list li:hover {
    animation: none;
  }
}

@media (max-width: 1400px) {
  .header__inner {
    padding: 0 20px;
  }
  .section__list {
    grid-template-columns: repeat(4, 1fr);
  }
  section {
    padding: 0 20px;
  }
}

@media (max-width: 1024px) {
  .section__list {
    grid-template-columns: repeat(3, 1fr);
  }
  .section__list-imgbox {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .header__inner {
    gap: 10px;
  }
  .header__search {
    margin: 0 0 0 auto;
  }
  .section__list {
    grid-template-columns: 1fr;
  }
}
