/* import */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Noto+Sans+KR:wght@100..900&display=swap");

/* Reset CSS */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #222;
}
p {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
button,
input {
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  line-height: 1.5em;
}
dialog {
  padding: 0;
}

/* custom */
body {
  margin: 0;
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #0a0d1e;
}
header {
  z-index: 10;
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  background: rgba(10, 13, 30, 0.8);
}
.header__inner {
  display: flex;
  align-items: center;
  max-width: 1280px;
  height: 80px;
  margin: 0 auto;
}
.header__logo {
  color: #fff;
  font: 2.25rem "Nanum Brush Script", cursive;
  text-shadow: 0 0 10px #ffd700, 0 0 20px #ffd700, 0 0 30px #ffd700;
}
.header__search {
  position: relative;
  display: flex;
  align-items: stretch;
  margin: 0 20px 0 auto;
  font-size: 1.125rem;
  border-radius: 5px;
  max-width: 500px;
  height: 35px;
  width: 100%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
}
.header__search-input {
  padding: 10px;
  color: #fff;
  width: calc(100% - 40px);
  transition: width 0.3s ease;
}
.header__search-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.header__search-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 40px;
  color: #fff;
  border-radius: 5px;
}
.header__search-button::before {
  content: "\f002";
  font: 900 1.125rem "Font Awesome 6 Free";
}
.header__bookmark::before {
  content: "\f02e";
  color: #fff;
  font: 400 1.125rem "Font Awesome 6 Free";
}
.header__bookmark--active::before {
  font-weight: 700;
}

section {
  margin: 30px auto 100px;
  max-width: 1280px;
  width: 100%;
}
.section__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}
.section__list-item {
  cursor: pointer;
  opacity: 0.5;
  height: 100%;
  border-radius: 5px;
  transition: 0.3s all;
  box-shadow: 0 0 10px 7px rgba(255, 255, 255, 0.1);
}

@keyframes swing {
  0% {
    transform: perspective(500px) rotateY(20deg);
    box-shadow: 0 0 10px 7px rgba(255, 255, 255, 1);
  }
  50% {
    transform: perspective(500px) rotateY(-20deg);
    box-shadow: 0 0 10px 7px rgba(255, 255, 255, 0.2);
  }
  100% {
    transform: perspective(500px) rotateY(20deg);
    box-shadow: 0 0 10px 7px rgba(255, 255, 255, 1);
  }
}

.section__list-imgbox {
  position: relative;
  height: 340px;
  text-align: right;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.section__list-img {
  width: 100%;
}
.section__list-vote {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #ffd700;
  padding: 0 5px;
  font-size: 0.875rem;
  border-radius: 5px 0 0 0;
  background: #000;
}
.section__list-title {
  margin: 10px 0 10px 10px;
  color: #fff;
}
.section__list-day {
  margin-left: 10px;
  padding-bottom: 10px;
  color: #ccc;
  font-size: 0.875rem;
}

.modal {
  padding: 30px 20px;
  width: 800px;
  color: #ddd;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.2);
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
}
.modal__close::before {
  content: "\f00d";
  font: 700 2rem "Font Awesome 6 Free";
}
.modal__inner {
  max-height: 600px;
  overflow: auto;
  margin: 20px 0;
}
.modal__img {
  max-width: 300px;
  width: 100%;
}
.modal__title {
  font-size: 1.5rem;
  font-weight: bold;
}
.modal__overview {
  margin: 10px auto 0;
  max-width: 500px;
  word-break: keep-all;
  font-size: 0.875rem;
}
.modal__add {
  z-index: 10;
  position: relative;
  padding: 5px 15px;
  letter-spacing: 1px;
  color: #fff;
  font: 700 1.5rem "Nanum Brush Script", cursive;
  border: 1px solid #ffd700;
  border-radius: 100px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
}
.modal__add::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 30px;
  filter: blur(10px);
  transform: translate(-50%, -50%);
  transition: 0.5s;
  border-radius: 50px;
  background-color: #ffd700;
}

@media (hover: hover) and (pointer: fine) {
  .section__list-item:hover {
    opacity: 1;
    animation: swing 2s ease-in-out infinite;
  }

  .modal__add:hover::before {
    width: calc(100% + 10px);
    height: calc(100% + 10px);
  }
}

@media screen and (max-width: 1400px) {
  .section__list {
    grid-template-columns: repeat(4, 1fr);
  }
  .header__inner {
    max-width: none;
    padding: 0 20px;
  }
  section {
    padding: 0 20px;
  }
}
@media screen and (max-width: 1024px) {
  .section__list {
    grid-template-columns: repeat(3, 1fr);
  }
  .section__list-item {
    opacity: 1;
  }
  .modal {
    width: 80%;
    padding: 50px 20px 20px 20px;
  }
  .modal__inner {
    max-height: 900px;
    margin: 20px 0;
    overflow: auto;
  }
  .modal__add::before {
    width: calc(100% + 10px);
    height: calc(100% + 10px);
  }
  .section__list-item {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5);
  }
  .section__list-imgbox {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .header__inner {
    gap: 10px;
  }
  .header__search {
    margin: 0 0 0 auto;
  }
  .section__list {
    grid-template-columns: 1fr;
  }
  .modal {
    width: 90%;
    padding: 30px 20px 20px 20px;
  }
  .modal__close {
    top: 15px;
    right: 20px;
  }
  .modal__inner {
    max-height: 300px;
  }
}
